:root {
  /* Colors */
  --blue: hsl(223, 87%, 63%);
  --pale-blue: hsl(223, 100%, 88%);
  --light-red: hsl(354, 100%, 66%);
  --gray: hsl(0, 0%, 59%);
  --dark-blue: hsl(209, 33%, 12%);

  /* Typography */
  --fs: 20px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  font-family: "Libre Franklin", sans-serif;
  font-size: var(--fs);
  scroll-behavior: smooth;
}

.logo {
  margin-top: 2em;
}

.logo > img {
  width: 50px;
  height: 15px;
}

.flex > h1 {
  font-size: var(--fs);
  margin-top: 1em;
  margin-bottom: 0.7em;
  text-align: center;
}

.flex > h1 > span {
  color: var(--gray);
  font-weight: 300;
}

.flex > p {
  font-size: 14px;
  margin-bottom: 1.5em;
}

.submit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.submit > form > input {
  width: 80vw;
  height: 2.5em;
  border-radius: 25px;
  outline: none;
  border: solid 2px var(--pale-blue);
  color: black;
  text-indent: 1em;
  position: relative;
}

.submit > form > input:hover {
  border: solid 2px blue;
}

::placeholder {
  opacity: 0.5;
  padding-left: 2em;
  color: var(--gray);
}

.submit > form > button {
  margin-top: 0.5em;
  width: 80vw;
  height: 2.5em;
  border-radius: 25px;
  outline: none;
  border: none;
  color: white;
  background-color: var(--blue);
  cursor: pointer;
}

#valdiation {
  color: var(--light-red);
  text-align: center;
  margin-top: 1em;
  font-weight: 700;
  font-size: 15px;
}

.dashboard {
  margin-top: 3em;
}

.dashboard > img {
  width: 70vw;
  height: auto;
}

.social {
  margin-top: 3em;
}

.social > i {
  color: var(--blue);
  border: solid 1px var(--gray);
  border-radius: 100%;
  padding-inline: 0.3em;
  padding-block: 0.3em;
  margin-left: 0.5em;
}

.social > i:first-of-type {
  padding-inline: 0.5em;
}

.social > i:last-of-type {
  padding-inline: 0.4em;
}

.social > div {
  font-size: 10px;
  text-align: center;
  margin-top: 2.5em;
  color: var(--gray);
  font-weight: 300;
}

.attribution {
  text-align: center;
  font-size: 10px;
  margin-block: 2em;
}

@media screen and (min-width: 1440px) {
  .logo > img {
    width: 100px;
    height: 30px;
  }
  .flex > h1 {
    font-size: 40px;
  }
  .flex > p {
    font-size: var(--fs);
  }
  .submit {
    flex-direction: row;
    justify-content: center;
    gap: 1em;
  }
  .submit > form > input {
    width: 25vw;
    height: 45px;
  }
  .submit > form > button {
    width: 12vw;
    height: 45px;
    margin: auto;
  }
  .dashboard > img {
    width: 45vw;
  }
  .social {
    margin-top: 1.5em;
    margin-bottom: 1em;
  }
  .social > i {
    padding-block: 4px;
  }
  .social > div {
    margin-top: 1em;
  }
  .attribution {
    font-size: 20px;
  }
}
